@import "tailwindcss";

:root {
  --background: #F4FBF5;
  --foreground: #A1CCA5;
  --primary: #A1CCA5;
  --primary-dark: #709775;
  --primary-light: #E5FFE9;
  --text: #111D13;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}
